/*  Multiple Element Selector */
table, td, th {
  border: 2px #000000 solid;
}

/* Child Selector*/
h1, ul.contact > li{
  font-style: italic;
}


h1, h2{
  margin-bottom: 0;
  text-decoration: underline;

}
h2{
  margin-top:5px;

}
/* smartPhone */
/* 568*/
@media (min-width: 700pxpx) {

  h1::after{content:"Thank you for your conderation!"}

}
