/*  Multiple Element Selector */
table, td, th {
  border: 2px #000000 solid;
}

/* Child Selector*/
h1, ul.contact > li{
  font-style: italic;
}


h1, h2{
  margin-bottom: 0;
  text-decoration: underline;

}
h2{
  margin-top:5px;

}

@media (max-width: 575.98px) {
	.small-device {
		// cssプロパティをここに記述
    background-color: red;
	}
}
